; $Header: /nfs/slac/g/glast/ground/cvs/calibGenCAL/cfg/build_gensettings_cfg.cfg,v 1.1 2006/06/15 20:57:58 fewtrell Exp $
[FM104]
config=1
filepath=.
tower=0

[FM103]
config=1
filepath=.
tower=1

[FM105]
config=1
filepath=.
tower=4

[FM102]
config=1
filepath=.
tower=5

[FM107]
config=1
filepath=.
tower=8

[FM106]
config=1
filepath=.
tower=9

[FM110]
config=1
filepath=.
tower=12

[FM108]
config=1
filepath=.
tower=13

[FM111]
config=1
filepath=.
tower=10

[FM112]
config=1
filepath=.
tower=11

[FM113]
config=1
filepath=.
tower=14

[FM114]
config=1
filepath=.
tower=15

[FM115]
config=1
filepath=.
tower=6

[FM116]
config=1
filepath=.
tower=7

[FM117]
config=1
filepath=.
tower=2

[FM118]
config=1
filepath=.
tower=3

[CFG1]
legain=5
hegain=15
hegainmu=0
lac=2
fle=100
fhe=1
adcmargin=50


[OUTPUT]
outputpath=.
outfilename=gensettings.cfg
