; $Header: /nfs/slac/g/glast/ground/cvs/calibGenCAL/cfg/genULDsettings.cfg,v 1.1 2006/06/15 20:57:58 fewtrell Exp $
[infiles]
; uld2adc provides the ULD/ADC characterization table XML file
uld2adc = room_FM113_CAL_uld2adc.xml

[margins]
; adcmargin is the number of ADC units below saturation to to set the ULD DAC's
adcmargin = 50


[towers]
; srctower is input TEM/tower address
; desttower is output TEM/tower address
srctower = 0
desttower = 11
